In [1]:
import pandas as pd
import numpy as np

In [2]:
# Let's analyze QTUM and where does it's price increase or decrease !!

In [4]:
qtum=pd.read_csv('data/qtum_all_time.csv')

In [6]:
qtum.tail()

            Date     Open     High      Low    Close      Volume  Market Cap
1359  2017-05-28  4.85834  5.05597  4.19109  4.62181   4353380.0         0.0
1360  2017-05-27  4.04777  4.53365  3.19248  4.53365   7046840.0         0.0
1361  2017-05-26  4.66003  5.33143  3.38896  4.09979   5116020.0         0.0
1362  2017-05-25  6.18738  6.28526  4.57232  4.65662   6211020.0         0.0
1363  2017-05-24  6.42027  6.76226  5.67868  6.19053  11221600.0         0.0

    We have Qtum data from 2017

In [7]:
qtum.head()

,Date,Open,High,Low,Close,Volume,Market Cap
0,2021-02-15,7.011678,7.118841,5.655386,6.373352,1.246095e+09,6.254056e+08
1,2021-02-14,7.705082,7.725850,6.848255,7.014412,1.134693e+09,6.882929e+08
2,2021-02-13,7.330928,7.750213,6.972872,7.705754,1.227242e+09,7.561104e+08
3,2021-02-12,7.467126,8.163231,6.900352,7.329156,2.206689e+09,7.191376e+08
4,2021-02-11,7.471932,8.731143,7.225004,7.468771,2.574447e+09,7.328166e+08

In [9]:
# let's remove those data where qtum market Cap is 0

qtum=qtum[qtum['Market Cap']!=0]
qtum.tail()

            Date     Open     High      Low    Close      Volume   Market Cap
1310  2017-07-16  3.92965  4.23963  3.71361  3.93036   5467430.0  200448360.0
1311  2017-07-15  4.54479  4.55253  3.85635  3.87669   6403170.0  197711190.0
1312  2017-07-14  5.11228  5.18154  4.47350  4.52962   6385700.0  231010620.0
1313  2017-07-13  5.65227  6.12464  5.02235  5.11246   8076010.0  260735460.0
1314  2017-07-12  4.67329  5.68626  4.35598  5.59061  11808500.0  285121110.0

    We select the ratio of 24 hour volume vs the market cap !!

In [10]:
qtum['mc_by_v']=qtum['Market Cap']/qtum['Volume']

In [17]:
qtum

,Date,Open,High,Low,Close,Volume,Market Cap,mc_by_v
0,2021-02-15,7.011678,7.118841,5.655386,6.373352,1.246095e+09,6.254056e+08,0.501892
1,2021-02-14,7.705082,7.725850,6.848255,7.014412,1.134693e+09,6.882929e+08,0.606590
2,2021-02-13,7.330928,7.750213,6.972872,7.705754,1.227242e+09,7.561104e+08,0.616105
3,2021-02-12,7.467126,8.163231,6.900352,7.329156,2.206689e+09,7.191376e+08,0.325890
4,2021-02-11,7.471932,8.731143,7.225004,7.468771,2.574447e+09,7.328166e+08,0.284650
...,...,...,...,...,...,...,...,...
1310,2017-07-16,3.929650,4.239630,3.713610,3.930360,5.467430e+06,2.004484e+08,36.662264
1311,2017-07-15,4.544790,4.552530,3.856350,3.876690,6.403170e+06,1.977112e+08,30.877080
1312,2017-07-14,5.112280,5.181540,4.473500,4.529620,6.385700e+06,2.310106e+08,36.176241
1313,2017-07-13,5.652270,6.124640,5.022350,5.112460,8.076010e+06,2.607355e+08,32.285183
1314,2017-07-12,4.673290,5.686260,4.355980,5.590610,1.180850e+07,2.851211e+08,24.145413